<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbdbc324-ab6c-4df7-b34d-8f7af35e0915" Alias="articlesMain" Level="2">
  <Info>
    <Name>Articles Main</Name>
    <Icon>icon-folders</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ArticlesMain</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a213c97b-77f8-4c71-b58b-ebefaaf135c0">ArticlesMain</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6b489793-9235-4fcf-8084-ec894d2cbb30" SortOrder="0">articlesItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>501fb87e-6645-4a29-aae5-7e0aa56b1561</Key>
      <Name>Article Body Text</Name>
      <Alias>articleBodyText</Alias>
      <Definition>f1ed5d88-73a7-4b5a-8bbd-d27136a985a7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>577e8333-e032-44e0-b4f1-2604189dfd83</Key>
      <Name>Article Published Date</Name>
      <Alias>articlePublishedDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>56c0e8f7-bb02-4f16-957c-6c086a7aa998</Key>
      <Name>Articles Thumbnail</Name>
      <Alias>articlesThumbnail</Alias>
      <Definition>8be40760-fcd0-4803-9ff8-341d976810c5</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>71bee41b-3712-46a5-9588-87db4f4bd569</Key>
      <Name>Article Title</Name>
      <Alias>articleTitle</Alias>
      <Definition>90b17bfc-5b29-4a7a-b012-f9032fd76b2d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Intro</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Intro</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>