<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b489793-9235-4fcf-8084-ec894d2cbb30" Alias="articlesItem" Level="2">
  <Info>
    <Name>Articles Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ArticlesItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fe37562f-04a7-43d7-a0ee-b05cf8b8f306">ArticlesItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e78f0993-7d8a-424d-bf75-61c57827060a</Key>
      <Name>Article Content</Name>
      <Alias>articleContent</Alias>
      <Definition>b99ba3e2-913f-4f58-9501-b5d25e805c15</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>37553305-60e6-4a3d-b7fe-dbfe4eab044a</Key>
      <Name>Article Published Date</Name>
      <Alias>articlePublishedDate</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>188f7e43-29c8-47a6-a35b-8362bc56b373</Key>
      <Name>Article Title</Name>
      <Alias>articleTitle</Alias>
      <Definition>75424b17-3d9f-49f7-9ecc-d08b4b7ccac4</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>28716e16-dfe7-4190-8713-12e8a52017f1</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>1051ee44-6130-4460-b44f-f3f17a6dda4d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>