<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="647579a2-3ff1-4702-953d-e89fdcbd96ac" Alias="fromHienWith" Level="2">
  <Info>
    <Name>From Hien With ❤</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>FromHienWith</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fdd87820-04ac-41da-b4e1-9e46aaaae2fd">FromHienWith</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>