<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d64ce0f-40ac-41d6-8c8b-e8bde5c2bc75" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="901292dd-00ea-4c18-8636-9f282bc4c2d5">test_Grid</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8cf40a9f-a0d9-4d30-9fe6-740ba1d178d3">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>