<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5af18b50-81cd-42c3-aa36-e311175ef7ad" Alias="master" Level="2">
  <Info>
    <Name>Master</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a85d7106-1ab5-410b-a290-54d08df6c02a">master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dbdbc324-ab6c-4df7-b34d-8f7af35e0915" SortOrder="0">articlesMain</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>