<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1051ee44-6130-4460-b44f-f3f17a6dda4d" Alias="Articles Item - Author - Textbox" Level="1">
  <Info>
    <Name>Articles Item - Author - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>