<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90b17bfc-5b29-4a7a-b012-f9032fd76b2d" Alias="Articles Main - Article Title - Textbox" Level="1">
  <Info>
    <Name>Articles Main - Article Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>