<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8be40760-fcd0-4803-9ff8-341d976810c5" Alias="Articles Main - Articles Thumbnail - File upload" Level="1">
  <Info>
    <Name>Articles Main - Articles Thumbnail - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>